---
layout: default
---
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="home">


 <div class="col col-12">
      <div class="col col-3">
          <div class="block glass"  style="background-image:url(assets/avatar.jpg)">
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>Ahalya Mandana</h2>
                <p class="grey-text">I'm currently a student in the M.S. in Robotics program at Northwestern University. My undergraduate background is electrical and electronics engineering. I'm extremely passionate about using robotics in fields that make a positive difference in people's lives. I hope to explore the various branches of robotics, while simultaneously acquiring skills in articial intelligence, mechatronics, robotic manipulation and fundamental mechanical fields like machine dynamics.</p>
            </div>
        </div>
      </div>
  </div>
  
  
  
  
   <div class="col col-12">
       <div class="col col-3">
       
    {% for post in site.posts %}
      
        <div class="block {{post.color}}">
            <div class="block-body height-{{post.height}}">
                <span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
       
      </div>
    {% endfor %}
    </div>
      
      
      
      <div class="col col-9">
        <div class="block glass"  style="background-image:url(assets/3.jpg)">
          </div>
           
        <div class="block glass"  style="background-image:url(assets/4.jpg)">
          </div>
           
           
           
           <div class="block glass"  style="background-image:url(assets/1.jpg)">
          </div>
          <div class="block glass"  style="background-image:url(assets/2.jpg)">
          </div>
        
      
      </div>
     
     
     
    
      <div class="col col-10">
        <div class="block glass">
            <div class="block-body">
                <h2>Courses</h2>
                <p class="grey-text">I'm currently in the second quarter of my graduate program. Last quarter, I took the following courses: Theory of Machine Dynamics, Embedded Systems in Robotics, Robotic Manipulation, and Introduction to Artificial Intelligence. In the current Winter quarter, I'm enrolled in Introduction to Mechatronics, Deep Learning Foundations, and Human-Computer Interaction.<br><br><h2>Contact Me</h2><p class="grey-text">GitHub profile: {% include icon-github.html %} <a href="https://github.com/am2512">github.com/am2512</a> <br> LinkedIn profile: <a href="https://in.linkedin.com/in/ahalyamandana">linkedin.com/in/ahalyamandana</a> <br>E-mail: ahalyamandana2018@u.northwestern.edu <br>Mobile: +1 773-807-6306.
<br><a href="/resume/AhalyaMandana_CV.pdf">Download My Resume.</a> <br><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="ahalyamandana"><a class="LI-simple-link" href='https://in.linkedin.com/in/ahalyamandana?trk=profile-badge'>Ahalya Mandana</a></div>                
                </p>
                
<br><h2>More About Me</h2><p class="grey-text">While I was a summer intern for Electronics For You (located in Bangalore, India), I wrote articles for the print and web editions of their magazine, on topics ranging from Bluetooth beacons to smart homes. The articles can be found <a href="https://electronicsofthings.com/author/ahalya/">here.</a><br>In my free time, I like to draw and write poetry. My art can be found on my <a href="https://www.behance.net/ahalyamandana">Behance profile</a>, and my poetry can found on the Facebook page, <a href="https://www.facebook.com/betterslashverse/">better/verse</a>.<br></p>
            </div>
        </div>
      </div>
  
      <div class="col col-2">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">Skills</h3>
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>
                {% endfor %}
            </div>
        </div>
    </div>
      
    
</div>
